*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

/*===============================HEADER==============================*/
header{
    width: 100%;
    height: 8.6875rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #415FCE;
    align-items: center;
    justify-content: space-between;
}
.imgLogo{
    width: 6.875rem;
    height: 6.1875rem;
    padding-left: 4.3125rem;
}
header h1{
    justify-self: center;
    font-size: 4rem;
    font-weight: 400;
}
header div{ /*modo administrador*/
    width: 19.6875rem;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1F9B5F;
    gap: 1.3125rem;
    border-radius: 20px;
    margin-right: 61px;
    justify-self: end;
}
header div img{
    width: 2.5rem;
    height: 2.5rem;    
}
header div p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/*===============================FOOTER================================*/
footer{
    font-family: 'Roboto';
}
.endEfaleconos{
    width: 100%;
    height: 11rem;
    background-color: #FCF7F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.endEfaleconos p{
    font-size: 20px;
    font-weight: 400;
    
}
footer h3{
    font-size: 24px;
    color: #4E8098;
    font-weight: 500;
}
.endereco{
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 128px;
    padding-left: 4.3125rem;
}
.faleConos{
    width: 302px;
    height: 105px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.redesSociais{
    display: flex;
    flex-direction: row;
}
.redesSociais img{
    width: 1.875rem;
    height: 1.875rem;
}  

.copyRight{
    width: 100%;
    height: 2.125rem;
    background-color: #415FCE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyRight p{
    font-size: 16px;
    font-weight: 400;
    color: black;    
}

/*===============================MAIN================================*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aAdicionar{ /*botao de adicionar roupa*/
    width: 90%;
    height: 100px;
    border-radius: .5rem;
    margin: 4rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1F9B5F;
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-weight: 700;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 2rem;
    width: 90%;
}


.card{
    width: 408px;
    height: 819px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25);
}
.imagemComBotoesEpop{
    width: 408px;
    height: 588px;
    background-image: url(../assets/products/roupa.png);
    background-size: cover;
}
.botoesEpop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.1875rem;
    padding-top: 16px;
}
.pop{
    width: 119px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6875rem;
    color: black;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: .3125rem;
}
.botoesEpop img{
    width: 48px;
    height: 48px;
}
.botoes img{
    width: 64px;
    height: 64px;
}
.botoes button{
    border: none;
    background-color: transparent;
}
.descProd{
    width: 408px;
    height: 231px;
    display: flex;
    flex-direction: column;
    background-color: #243B98;
}

.nameEdesc{
    padding-top: 16px;
    padding-left: 16px;
}
.nameEdesc h2{
    font-size: 36px;
    font-weight: 43.75rem;
    color: #8CBF26;
    letter-spacing: 3px;
}
.nameEdesc h3{
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 3px;
}
.desc{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

}
.desc p{
    font-size: 14px;
    color: white;
    font-weight: 500;
}
.preco{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-right: 20px;
}
.preco p{
    font-size: 40px;
    font-weight: 700;
    color: #8CBF26;
}

/*botoes da paginacao*/
.paginacao{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 68px;
    gap: .5rem;
}
.paginacao button{
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    color: #F1EFFF;
    background-color: #BDB7B6;
    border: none;
    border-radius: 50%;
}
.paginacao img{
    width: 17.5px;
    height: 32.5px;
}
.paginacao > button:first-child {
    background-color: transparent;
    border: none;
    padding: 0; /* Remove o preenchimento interno */
    margin: 0;  /* Remove a margem */
    color: inherit; /* Usa a cor do texto do elemento pai */
    font: inherit; /* Usa a fonte do elemento pai */
    cursor: pointer; /* Mantém o cursor de clique */
  }
  
.paginacao > button:last-child {
    background-color: transparent;
    border: none;
    padding: 0; /* Remove o preenchimento interno */
    margin: 0;  /* Remove a margem */
    color: inherit; /* Usa a cor do texto do elemento pai */
    font: inherit; /* Usa a fonte do elemento pai */
    cursor: pointer; /* Mantém o cursor de clique */
  }