*{
    margin: 0;
    padding: 0;
}

/*header*/
header{
    width: 100%;
    height: 8.6875rem;
    display: flex;
    flex-direction: row;
    background-color: #415FCE;
    align-items: center;
}
.imgLogo{
    width: 6.875rem;
    height: 6.1875rem;
    padding: 1.25rem 0 1.25rem 4.3125rem;
}
header div{ /*modo administrador*/
    width: 19.6875rem;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1F9B5F;
    gap: 1.3125rem;
    border-radius: 20px;
}
header div img{
    width: 2.5rem;
    height: 2.5rem;    
}
header div p{
    font-family: 'Inter';
    color: white;
    font-size: 20px;
    font-weight: 500;
}
