*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

/*header*/
header{
    width: 100%;
    height: 8.6875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #415FCE;
    align-items: center;
}
.imgLogo{
    width: 6.875rem;
    height: 6.1875rem;
    padding-left: 4.3125rem;
}
header h1{
    font-size: 4rem;
    font-weight: 400;
}
header div{ /*modo administrador*/
    width: 19.6875rem;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1F9B5F;
    gap: 1.3125rem;
    border-radius: 20px;
    margin-right: 61px;
}
header div img{
    width: 2.5rem;
    height: 2.5rem;    
}
header div p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
